{% load i18n %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% translate 'Доступ Запрещен' %}</title>
</head>
<body>
    <div style='text-align: center; margin-top: 20%;'>
        <h1>{% translate 'Доступ Запрещен' %}</h1>
        <p>{% translate 'Обратитесь к администратору для получения доступа' %}</p>
    </div>  
</body>
</html>