{% extends 'flatpages/default.html' %}
{% load crispy_forms_tags %}
{% load custom_filters %}
{% load custom_tags %}
{% load i18n %}
{% block title %}
    {% translate 'Посты' %}
{% endblock title %}
{% block content %}
{% comment %} {% if 'search' in request.path %} {% endcomment %}
    <div class="container-lg">
        <div class="row">
            <div class="col-3">
                <div class="row mb-4 p-3">
                    {% block extra %}
                        {% if perms.news.add_post %}
                            {% if author_posts >= 3 %}
                                <p class='bg-dark text-light p-2 mb-2 mt-2 me-2'>{% translate 'За сегодня Вы создали 3 поста' %} </p>
                            {% else %}
                                <a href="{% url 'news_create' %}" class="btn btn-primary btn-sm m-1" tabindex="-1" role="button" aria-disabled="true"> {% translate 'Создать Новость' %} </a>
                                <a href="{% url 'article_create' %}" class="btn btn-primary btn-sm m-1" tabindex="-1" role="button" aria-disabled="true"> {% translate 'Создать Статью' %} </a>
                            {% endif %}
                        {% endif %}
                    {% endblock extra %}
                </div>
                <div class="row mt-4 p-3">
                    <div class="card border-0 border-end">
                        <div class="card-header">
                            <h2 class="display-6">{% translate 'Поиск' %}</h2>
                        </div>

                        <div class="card-body p-0 mt-4">
                            <form action="" method='get' class='form form-inline'>
                                {{ filterset.form.as_table }}
                                <input type="submit" value={% translate 'найти' %} class='btn btn-primary mt-4 mb-4 form-control' />
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-9 text-align-center">
                <h2 class="display-5">{% translate 'ВСЕ ПОСТЫ' %}</h2>
                {% if posts %}
                    <table class='table'>
                        <thead>
                            <tr>
                                <th scope='col'>{% translate 'Заголовок' %}</th>
                                <th scope='col'>{% translate 'Дата публикации' %}</th>
                                <th scope='col'>{% translate 'Тип поста' %}</th>
                                <th scope='col'>{% translate 'Категории' %}</th>
                                <th scope='col'>{% translate 'Контент' %}</th>
                            </tr>
                        </thead>
                        {% for item in posts %}
                            <tbody>
                                <tr>
                                    <td>{{ item.post_title|censor }}</td>
                                    <td>{{ item.post_date|date:'d.M.Y' }}</td>
                                    <td>{{ item.get_post_type_display }}</td>
                                    <td> 
                                        {% for items in item.categories.all %}
                                            {{ items.get_category_name_display|add:', ' }} 
                                        {% endfor %} 
                                    </td> 
                                    <td>{{ item.post_content|truncatechars:20|censor }} </td>
                                    <td class='pe-0'><a href="{% url 'post_detail' item.id %}" class="btn btn-dark btn-sm"> {% translate 'Читать' %} </a> </td>
                                    
                                </tr>
                            </tbody>
                        {% endfor %}
                    </table>

                    {% if page_obj %}
                        <ul class="pagination justify-content-center">
                            {% if page_obj.number == 1 %}
                                <li class="page-item disabled"><a class="page-link" href="?{% url_replace page=1 %}">{% translate 'Начало' %}</a></li>
                            {% else %}
                                <li class="page-item"><a class="page-link" href="?{% url_replace page=1 %}">{% translate 'Начало' %}</a></li>
                            {% endif %}
                            {% if page_obj.has_previous %}
                                <li class="page-item"><a class="page-link" href="?{% url_replace page=page_obj.previous_page_number %}">{% translate 'Пред.' %}</a></li>
                            {% else %}
                                <li class="page-item disabled"><a class="page-link" href="#">{% translate 'Пред.' %}</a></li>
                            {% endif %}

                            {% if page_obj.has_previous and page_obj.previous_page_number == 1 %}
                                <li class="page-item"><a class="page-link" href="?{% url_replace page=1 %}">1</a></li>
                            {% endif %}

                            {% if page_obj.previous_page_number != 1 %}
                                <span> ... </span>
                                <li class="page-item"><a class="page-link" href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number}}</a></li>
                            {% endif %}

                                <li class="page-item active"><a class="page-link" href="#">{{ page_obj.number}}</a></li>
                            
                            {% if page_obj.has_next %}
                                <li class="page-item"><a class="page-link" href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number}}</a></li>
                                {% if page_obj.paginator.num_pages != page_obj.next_page_number %}
                                <span> ... </span>
                                <li class="page-item "><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a></li>
                                {% endif %}
                            {% endif %}

                            {% if page_obj.has_next %}
                                <li class="page-item"><a class="page-link" href="?{% url_replace page=page_obj.next_page_number %}">{% translate 'След.' %}</a></li>
                            {% else %}
                                <li class="page-item disabled"><a class="page-link" href="#">{% translate 'След.' %}</a></li>
                            {% endif %}
                            {% if page_obj.number == page_obj.paginator.num_pages %}
                                <li class="page-item disabled"><a class="page-link" href="?{% url_replace page=page_obj.paginator.num_pages %}">{% translate 'Конец' %}</a></li>
                            {% else %}
                            <li class="page-item"><a class="page-link" href="?{% url_replace page=page_obj.paginator.num_pages %}">{% translate 'Конец' %}</a></li>
                            {% endif %}

                        </ul>
                    {% endif %}

                {% else %}
                    <h2>{% translate 'Нет постов' %}</h2>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}