<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'appointments:make_appointment' %}" method='POST' enctype='Multipart/form-data'>
        {% csrf_token %}
        <label for="subscriber_name">Имя</label>
        <input type='text' name='subscriber_name'>
        <label for="message">сообщение</label>
        <input type="text" name='message'>
        <label for="date"></label>
        <input type="date" name='date'>
        <input type="submit" value='отправить'>
    </form>
</body>
</html>